body{
    background-color: gray;
}

.formContainer{
    width: 400px;
    margin: auto;
    background-color: #ccc;
    border: 2px solid silver;
    padding: 30px;
    border-radius: 5px;
    justify-content: left;
    -webkit-transition: all, 0.2s, ease-in;
    -moz-transition: all, 0.2s, ease-in;
    -o-transition: all, 0.2s, ease-in;
     transition: all, 0.2s, ease-in;
}

label{
    text-align: right;
    width: 80px;
    display: inline-block;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.pError{
    color: red;
    display: none;
}

button{
    width: 80px;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
}